<!--<h1>Public::Customers#edit</h1>-->
<!--<p>Find me in app/views/public/customers/edit.html.erb</p>-->
<div class="container mt-5">
  <%= render "shared/title", title: "会員情報編集" %>
  <%= form_with model: @customer, url: customer_path, method: :patch do |f| %>
    <div class="row d-flex justify-content-start align-items-center mt-3">
      <span class="col-md-2">氏名</span>
      <!--<div class="col-md-auto g-3 d-flex p-0">-->
      <div class="col-auto">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="col-auto">
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
    </div>

    <div class="row d-flex justify-content-start align-items-center mt-3">
      <span class="col-md-2">フリガナ</span>
      <!--<div class="col-md-auto d-flex p-0">-->
      <div class="col-auto">
        <%= f.text_field :last_name_kana, class: "form-control" %>
      </div>
      <div class="col-auto">
        <%= f.text_field :first_name_kana, class: "form-control" %>
      </div>
    </div>

    <div class="row d-flex justify-content-start align-items-center mt-3">
      <span class="col-md-2">郵便番号</span>
      <div class="col-md-auto">
        <%= f.text_field :postal_code, class: "form-control" %>
      </div>
    </div>

    <div class="row d-flex justify-content-start align-items-center mt-3">
      <span class="col-md-2">住所</span>
      <div class="col-md-auto">
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>

    <div class="row d-flex justify-content-start align-items-center mt-3">
      <span class="col-md-2">電話番号</span>
      <div class="col-md-auto">
        <%= f.text_field :telephone_number, class: "form-control" %>
      </div>
    </div>

    <div class="row d-flex justify-content-start align-items-center mt-3">
      <span class="col-md-2">メールアドレス</span>
      <div class="col-md-auto">
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="mt-5">
      <%= f.submit "編集内容を保存", class: "btn btn-success me-5" %>
      <%= link_to "退会する", unsubscribe_customer_path, class: "btn btn-danger" %>
    </div>
  <% end %>

</div>

