<h1>Public::Customers#edit</h1>
<p>Find me in app/views/public/customers/edit.html.erb</p>
<div class="container">
  <h4>会員情報編集</h4>
  <%= form_with model: @customer, url: customer_path, method: :patch do |f| %>
    <div class="row justify-content-start">
      <span class="col-md-2">氏名</span>
      <%= f.text_field :last_name, class: "col-md-auto" %>
      <%= f.text_field :first_name, class: "col-md-auto" %>
    </div>

    <div class="row justify-content-start">
      <span class="col-md-2">フリガナ</span>
      <%= f.text_field :last_name_kana, class: "col-md-auto" %>
      <%= f.text_field :first_name_kana, class: "col-md-auto" %>
    </div>

    <div class="row justify-content-start">
      <span class="col-md-2">郵便番号</span>
      <%= f.text_field :postal_code, class: "col-md-auto" %>
    </div>

    <div class="row justify-content-start">
      <span class="col-md-2">住所</span>
      <%= f.text_field :address, class: "col-md-auto" %>
    </div>

    <div class="row justify-content-start">
      <span class="col-md-2">電話番号</span>
      <%= f.text_field :telephone_number, class: "col-md-auto" %>
    </div>

    <div class="row justify-content-start">
      <span class="col-md-2">メールアドレス</span>
      <%= f.text_field :email, class: "col-md-auto" %>
    </div>

    <%= f.submit "編集内容を保存", class: "btn btn-success" %>
    <%= link_to "退会する", unsubscribe_customer_path, class: "btn btn-danger" %>
  <% end %>

</div>

