<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>

<h4>商品詳細</h4>

<div class="row">
  <div class="col-md-4">
    <% if @item.image.attached? %>
      <%= image_tag @item.image %>
    <% else %>
      <%= image_tag 'default-image' %>
    <% end %>
  </div>
  <div class="col-md-auto">
    <table>
      <tr>
        <th>商品名</th>
        <td><%= @item.name %></td>
      </tr>
      <tr>
        <th>商品説明</th>
        <td><%= @item.introduction %></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= @genre %></td>
      </tr>
      <tr>
        <th>税込価格</br>(税抜き価格)</th>
        <td><%= @include_tax %> (<%= @item.price %>) 円</td>
      </tr>
      <tr>
        <th>販売ステータス</th>
        <td>
          <% if @item.is_active == true %>
            <span class="text-success">販売中</span>
          <% elsif @item.is_active == false %>
            <span class="text-secondary">販売停止中</span>
          <% end %>
        </td>
      </tr>
    </table>




    <%= link_to "編集する", edit_admin_item_path, class: "btn btn-success" %>
  </div>
</div>