<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render "public/shared/search_genres", genres: @genres %>
    </div>
    <div class="col-10">
      <div class="row text-center">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>

      <div class="row">
        <h3 class="fw-bold">新着商品</h3>

        <% @new_items.each do |itemlist| %>
        <div class="col-md-3">
          <%= link_to item_path(itemlist.id) do %>
            <%= image_tag itemlist.get_image(60,60), size: "150x90" %>
            <div><%= itemlist.name %></div>
            <div><%= itemlist.price %></div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>