<div class="container">
  <%= render "shared/title", title: @customer.full_name + "さんの注文履歴" %>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>購入日時</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |orderlist| %>
          <tr>
            <td>
              <%= link_to admin_order_path(orderlist.id) do %>
                <%= l orderlist.created_at %>
              <% end %>
            </td>
            <td><%= orderlist.order_details.total_amount %></td>
            <td><%= orderlist.status_i18n %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>