<!--<h1>Admin::Orders#show</h1>-->
<!--<p>Find me in app/views/admin/orders/show.html.erb</p>-->
<div class="container mt-5">
  <div class="row">
    <%= render 'shared/title', title: '注文履歴詳細' %>
    <table>
      <tr>
        <td>購入者</td>
        <td>
          <%= link_to admin_customer_path(@order.customer.id) do%>
            <%= @order.customer.full_name %></td>
          <% end %>
      </tr>
      <tr>
        <td>注文日</td>
        <td><%= l @order.created_at, format: :short %></td>
      </tr>
      <tr>
        <td>配送先</td>
        <td><%= @order.address_display_short %><br><%= @order.name %></td>
      </tr>
      <tr>
        <td>支払方法</td>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <td>注文ステータス</td>
        <td>
          <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
            <%= f.select :status, Order.statuses.keys.map { |k| [I18n.t("enums.order.status.#{k}"),k] } %>
            <%= f.submit "更新", class: "btn btn-success" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="row">
    <table class="col-md-8">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>制作ステータス</th>
          <th><!--更新ボタン--></th>
        </tr>
      </thead>
      <tbody>
          <% @order_details.each do |order_detail| %>
        <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price_with_tax %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.order_detail_subtotal %></td>
            <td>
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
                <%= f.select :making_status, OrderDetail.making_statuses.keys.map { |k| [I18n.t("enums.order_detail.making_status.#{k}"),k] } %>
                <%= f.hidden_field :page_id, value: @order.id %>
                <%= f.submit "更新", class: "btn btn-success", disabled: @making_status_class %>
              <% end %>
            </td>
            <% @total_price += order_detail.order_detail_subtotal %>
        </tr>
          <% end %>
      </tbody>
    </table>
    <div class="col-md-4">
      <table>
        <tr>
          <td>商品合計</td>
          <td><%= @total_price %></td>
        </tr>
        <tr>
          <td>送料</td>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <td>請求金額合計</td>
          <td><%= @total_price + @order.shipping_cost %></td>
        </tr>
      </table>
    </div>
  </div>
</div>