<div class="container mt-5">
  <div class="row">
    <div class="col-md-2">
      <%= render 'public/shared/search_genres', genres: @genres %>
    </div>
    <div class="col-md-4">
      <% if @item.image.attached? %>
        <%= image_tag @item.image %>
      <% else %>
        <%= image_tag 'default-image' %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2><%= @item.name %></h2>
      <p><%= @item.introduction %></p>
      <span>¥<%= @item.price %></span><span>(税込)</span>
      <div>
      <%= form_with model: @cart, url: cart_items_path do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <% if customer_signed_in? %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <% end %>
        <% if @item.is_active == true %>
          <%= f.select :amount, *[1..10] %>
          <%= f.submit "カートに入れる", class: "btn btn-success" %>
        <% else %>
          <%= f.submit "販売停止中", class: "btn btn-secondary", disabled: true %>
        <% end %>
      <% end %>
      </div>
    </div>

  </div>
</div>