<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--< %= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <header>
      <nav class="navbar navbar-expand-md bg-danger bg-gradient text-white">
        <div class="container">

            <span class="navbar-brand text-white p-1">LOGO</span>
            <ul class="navbar-nav">
              <% if admin_signed_in? %>
                <li class="nav-item border border-white rounded p-1 m-1">
                  <%= link_to '商品一覧', admin_items_path, class: "text-white" %>
                </li>
                <li class="nav-item border border-white rounded p-1 m-1">
                  <%= link_to '会員一覧', admin_customers_path, class: "text-white" %>
                </li>
                <li class="nav-item border border-white rounded p-1 m-1">
                  <%= link_to '注文履歴一覧', admin_root_path, class: "text-white" %>
                </li>
                <li class="nav-item border border-white rounded p-1 m-1">
                  <%= link_to 'ジャンル一覧', admin_genres_path, class: "text-white" %>
                </li>
                <li class="nav-item border border-white rounded p-1 m-1">
                   <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
                </li>
              <% elsif customer_signed_in? %>
                <li class="nav-item border border-white rounded p-1 m-1">About</li>
                <li class="nav-item border border-white rounded p-1 m-1">商品一覧</li>
                <li class="nav-item border border-white rounded p-1 m-1">新規登録</li>
                <li class="nav-item border border-white rounded p-1 m-1">ログイン</li>
              <% else %>
                <li class="nav-item border border-white rounded p-1 m-1">About</li>
                <li class="nav-item border border-white rounded p-1 m-1">商品一覧</li>
                <li class="nav-item border border-white rounded p-1 m-1">新規登録</li>
                <li class="nav-item border border-white rounded p-1 m-1">ログイン</li>
              <% end %>
            </ul>

        </div>
      </nav>
    </header>

    <main>
      <div class="container mt-3">
        <%= yield %>

      </div>
    </main>

    <footer class="border-top border-bottom mt-5">
      <div class='container'>
    	  <div class='row'>
      		<p class="text-center m-2">CopyRight</p>
        </div>
      </div>
    </footer>

  </body>
</html>
